/* sec1 */

/* 스크롤 다운 */
.con_body {
  position: absolute;
  z-index: 100000;
  left: 135px;
  top: 80%;
  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: var(--black-color);
}
.chevron.in:before,
.chevron.in:after {
  background: var(--white-color);
}

.text.in {
  color: var(--white-color);
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

/* 스크롤 다운 애니메이션 */

@keyframes move {
  25% {
    opacity: 1;
  }

  33% {
    opacity: 1;
    transform: translateY(30px);
  }

  67% {
    opacity: 1;
    transform: translateY(40px);
  }

  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -35px;
  font-size: var(--font-micro);
  color: var(--black-color);
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* sec1_con */

.sec1 > h2 {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: 3.8vw;
  text-align: right;
  font-weight: 700;
  line-height: 4.7vw;
  letter-spacing: 0.1px;
  z-index: 10;
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
  color: var(--white-color);
}

.sec1_slide {
  position: absolute;
  left: 100%;
  top: 0;
  transform: translateX(-100%);
  width: 60%;
  height: 100%;
}

.sec1_swiper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_con {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #e6e6e6;
}

.sec1_slide.fir {
  background: url(./img/01-01_fin.webp) no-repeat;
  background-position: 48% 50%;
  background-size: cover;
}

.sec1_slide.sec {
  background: url(./img/04-01.webp) no-repeat;
  background-position: center;
  background-size: cover;
}

.sec1_slide.thi {
  background: url(./img/10-01_fin.webp) no-repeat;
  background-position: 49.3% 50%;
  background-size: cover;
}

.sec1_slide.for {
  background: url(./img/09-01_fin.webp) no-repeat;
  background-position: 52.3% 50%;
  background-size: cover;
}

.sec1 .swiper-pagination {
  bottom: auto;
  top: 75%;
}

.sec1 .swiper-pagination-bullet-active {
  background-color: var(--black-color);
}

/* center-hover */

figure.snip1477 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 40%;
  height: 40%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: var(--black-color);
  z-index: 1;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

figure.snip1477 video {
  height: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

figure.snip1477 .title {
  position: absolute;
  top: 40%;
  right: 2%;
  padding: 5px 10px 10px;
  white-space: nowrap;
}

figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 1000%;
  position: absolute;
  content: '';
  background-color: var(--black-color);
}

figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
}

figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: var(--black-color);
}

figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
  opacity: 0;

  padding: 10px 20px;
}

figure.snip1477 h2 {
  display: block;
  font-weight: 400;
  background-color: var(--black-color);
  color: var(--white-color);
  margin-bottom: 10px;
  margin-top: 5px;
}

figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
}

figure.snip1477 figcaption {
  position: absolute;
  bottom: 23%;
  right: 3.5%;
  text-align: left;
  opacity: 0;
  font-size: 0.2vw;
  font-weight: 500;
  letter-spacing: 1.5px;
  white-space: nowrap;
}

figure.snip1477 figcaption p {
  margin: 0;
  padding: 10px 20px;
  color: var(--white-color);
  background-color: var(--black-color);
  font-size: 1.5vw;
}

figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}

figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  opacity: 1;
}

figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure.snip1477:hover h2,
figure.snip1477:hover h4 {
  margin: 0;
  text-transform: uppercase;
  opacity: 1;
}

@media (max-width: 800px) {
  /* 스크롤다운 */

  .con_body {
    position: absolute;
    z-index: 100000;
    left: 65px;
    top: 80%;
    font-family: 'Roboto', sans-serif;
  }

  /* center-hover */

  figure.snip1477 {
    display: none;
  }

  /* sec1-con */
  .sec1 {
    display: block;
  }

  .sec1 h2 {
    display: none;
  }

  .swiper_con {
    display: none;
  }

  .sec1_slide {
    position: absolute;
    left: 100%;
    top: 0%;
    width: 100vw;
    height: 100vh;
  }

  .sec1_slide.fir {
    background: url(./img/01-01_fffff.webp) no-repeat;
    background-position: left;
    background-size: cover;
  }

  .sec1_slide.sec {
    background: url(./img/04-01_fffff.webp) no-repeat;
    background-position: left;
    background-size: cover;
  }

  .sec1_slide.thi {
    background: url(./img/10-01_ffff.webp) no-repeat;
    background-position: left;
    background-size: cover;
  }

  .sec1_slide.for {
    background: url(./img/09-01_ffff.webp) no-repeat;
    background-position: left;
    background-size: cover;
  }
}

@media (max-width: 500px) {
  /* sec1-con */

  .sec1_slide.fir {
    background: url(./img/01-01_fffff.webp) no-repeat;
    background-position: 70% 50%;
    background-size: cover;
  }

  .sec1_slide.sec {
    background: url(./img/04-01_fffff.webp) no-repeat;
    background-position: 80% 50%;
    background-size: cover;
  }

  .sec1_slide.thi {
    background: url(./img/10-01_ffff.webp) no-repeat;
    background-position: 46% 50%;
    background-size: cover;
  }

  .sec1_slide.for {
    background: url(./img/09-01_ffff.webp) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
