/* sec3 */
.section03 {
  background-color: var(--white-color);
}

.sec3 .inner {
  position: relative;
  left: 0%;
  background: url(./img/sec3_back.webp) no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
}

.inner > div {
  position: relative;
  border: 10px solid var(--white-color);
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.sunglass,
.glass {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sunglass p,
.glass p {
  position: absolute;
  z-index: 1000;
  font-size: var(--font-medium);
  color: var(--white-color);
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 1s;
  text-align: center;
}

.sun_img,
.gla_img {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}

.sunglass:hover .sun_img,
.glass:hover .gla_img {
  opacity: 1;
}
.sunglass:hover p,
.glass:hover p {
  opacity: 1;
}

.sun_img img {
  top: 50%;
  transform: translateY(-50%);
}

.sun_img img,
.gla_img img {
  position: relative;
  width: 100%;
}

.img_move {
  grid-column: span 2;
  overflow: hidden;
}

.inner .sunglass::after,
.inner .glass::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: 0.3s;
}

.inner .sunglass:hover::after,
.inner .glass:hover::after {
  opacity: 1;
}

.img_move .pro_list {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 250%;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
}

.img_move .pro_list::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
}

.img_move li {
  position: relative;
  z-index: 1;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: calc(100% / 14);
  height: 100%;
  margin: 10px;
  animation: ani_move 25s linear infinite both;
  overflow: hidden;
}

.img_move .pro_list:hover .img {
  animation-play-state: paused;
}

.img_move .img img {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -45%);
  width: 100%;
  transition: 0.3s;
}

.img_move .img:hover img {
  width: 120%;
  top: -15%;
}

@keyframes ani_move {
  0% {
    left: 0;
  }
  100% {
    left: -56%;
  }
}

@media (max-width: 1300px) {
  .img_move li {
    top: 55%;
  }
}

@media (max-width: 1200px) {
  .sec3 .inner {
    position: relative;
    left: 0%;
    background: url(./img/sec3_back.webp) no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;
  }

  .img_move .pro_list {
    width: 300%;
  }

  .img_move li {
    top: 70%;
  }

  .img_move .img:hover img {
    width: 120%;
    top: -8%;
  }
}

@media (max-width: 1000px) {
  .img_move .pro_list {
    width: 400%;
  }
}
@media (max-width: 800px) {
  .img_move .pro_list {
    width: 500%;
  }
}
@media (max-width: 600px) {
  .img_move .pro_list {
    width: 600%;
  }
}
@media (max-width: 400px) {
  .img_move .pro_list {
    width: 700%;
  }
  .img_move li {
    top: 75%;
  }
}
