@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url(header.css);
@import url(sec1.css);
@import url(sec2.css);
@import url(sec3.css);
@import url(sec4.css);
@import url(sec5.css);
@import url(footer.css);

@font-face {
  font-family: '24md';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '24li';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* color */
  --white-color: #fff;
  --black-color: #140a00;

  /* size*/
  --padding: 12px;

  /* font-size */
  --font-large: 5rem;
  --font-medium: 3rem;
  --font-common: 2rem;
  --font-small: 1.5rem;
  --font-micro: 1rem;
}

/* 노멀라이징 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 라이브러리 */

.inner {
  max-width: 1740px;
  width: 100%;
  height: 100%;
  margin: auto;
}

a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  overflow: hidden;
}

@media (max-width: 800px) {
  section {
    width: 100%;
    height: 80vh;
  }
}
@media (max-width: 400px) {
  .sec2,
  .sec3 {
    height: 60vh;
  }
}
